

/* Encabezado de tarjeta */
.card-header {
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.card-header.gold {
  background: linear-gradient(135deg, #f9e157, #bc8300, #FFD700);
}

.card-header.platinum {
  background: linear-gradient(135deg, #E5E4E2, #595959, #e7e4e4);
}

.card-header.black {
  background: linear-gradient(135deg, #2f2f2f, #000000, #262525);
}

/* Estados */
.state-msg {
  text-align: center;
  margin: 20px 0;
}

.state-msg.error {
  color: red;
}

.state-msg.empty {
  color: gray;
}

.card-detail {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 80px;
}

/* Tarjeta de cabecera */
.card-header {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 20px auto; /* centrada con margen inferior */
  max-width: 900px;
  width: 95%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* Responsive: en pantallas pequeñas apilar columnas */
@media (max-width: 1024px) {
  .card-header {
    flex-direction: column;
    text-align: center;
    gap: 10px; /* espacio entre elementos */
    padding: 0;
  }
}

