.card-pin-query-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #002855e3;
  pointer-events: all; /* Captura todos los eventos */
  backdrop-filter: blur(3px);
}

.card-pin-query-container h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.card-pin-query {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  aspect-ratio: 85.6 / 53.98;
  position: relative;
  overflow-y: hidden;
}

.card-pin-query h2{
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-justify: center;
  color: #2575fc;
}

.card-pin-query p{
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
}

.card-pin-query div{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.btn-close {
  position: absolute;
  top: 2%;
  left: 2%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  rotate: 90deg;
  width: 10%;
  aspect-ratio: 1/1;
}

.btn-close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}

.form-query-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  justify-content: space-around;
  width: 100%;
}

.form-query-pin input {
  color: #002855;
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border-color: transparent;
  border-bottom: 2px solid #6a11cb;
  background-color: transparent;
  border-radius: 0;
}

.form-query-pin button {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card-consult-pin{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-pin-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 55%;
}

.card-number-info {
  font-size: 1.5rem;
  font-weight: bold;
  color: #002855;
  margin: 0;
  padding: 0;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card-number-info p{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.card-pin-info-footer {
  bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  font-weight: 500;
  color: #555; 
  display: flex;
  align-items: center;
  justify-content: right;
}

.card-pin-info-footer p{
  width: fit-content;
  height: auto;
  margin-right: 10%;
}

.card-info-pin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.card-info-pin div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.card-info-pin button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20%;
  aspect-ratio: 1/1;
}

.card-info-pin img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: transparent;
}

.card-info-pin img:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.card-info-cvv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

@media (max-width: 1024px) {
  .card-pin-query {
    width: 80%;
    padding: 1rem;
  }

  .btn-close {
    width: 15%;
  }
}